<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container" id="navbarToggleExternalContent">
  
        <p class="navbar-brand m-0 fs-4">DAILY JOURNAL</p>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <ul class="nav mx-auto">
            <li class="nav-item active" aria-current="page" id="home">
              <a class="nav-link link-secondary " href="/">HOME</a>
            </li>
            <li class="nav-item" id="about">
              <a class="nav-link link-secondary " href="/about">ABOUT US</a>
            </li>
            <li class="nav-item" id="contact">
              <a class="nav-link link-secondary " href="/contact">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container container-body">